/* blog-style.css */

/* Variables de color */
:root {
    --amarillo: #FFE63E;
    --negro: #000000;
    --gris: #D9D9D9;
    --fondo: #1E1E1E;
    --sombra: rgba(0, 0, 0, 0.25);
    --borde: rgba(0, 0, 0, 0.1);
    --transicion-rapida: all 0.2s ease-in-out;
}

/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--fondo);
    color: var(--amarillo);
    line-height: 1.7;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

/* Header */
header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    box-shadow: 0 4px 8px var(--sombra);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-carousel {
    height: 100px;
    width: 115px;
    position: relative;
    margin: 20px 0;
}

.logo-carousel img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.logo-carousel img.logo-active {
    opacity: 1;
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    background: var(--amarillo);
    list-style: none;
    border-radius: 30px;
    box-shadow: 0 2px 5px var(--sombra);
    margin: 0;
}

nav a {
    color: var(--negro);
    text-decoration: none;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 25px;
    display: block;
    transition: color 0.3s, transform 0.3s;
}

nav a:hover {
    color: var(--amarillo);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px var(--amarillo);
}

/* Menú Hamburguesa */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    background: none;
    border: none;
    z-index: 1001;
}

.menu-toggle .bar {
    width: 30px;
    height: 3px;
    background-color: var(--amarillo);
    margin: 3px 0;
    transition: 0.4s;
}

.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -6px);
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--negro);
        width: 100%;
        padding: 20px;
        text-align: center;
        box-shadow: 0 4px 6px var(--sombra);
    }
    
    .menu-toggle {
        display: flex;
    }
    
    nav ul.active {
        display: flex;
    }
}
